@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "Circular", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #000;
  color: white;
}

body {
  background-color: #121212;
  color: white;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    #c79c2d 0%,
    #c79c2d 30%,
    #121212 70%,
    #121212 100%
  );
}

.sidebar-left {
  background-color: #000;
}

.sidebar-right {
  background-color: #000;
}

.album-header h1 {
  font-weight: bold;
}

#left-arrow {
  left: 30px;
  font-size: 1.5em;
}

.bi {
  font-size: 1.5em;
}

aside {
  height: 100vh;
}

.sidebar-left {
  height: calc(100vh - 56px);
  overflow-y: auto;
  background-color: #000;
  background: linear-gradient(to bottom, #4a3818, #000000 80%);
  position: sticky;
  top: 0;
}

/* Ho dovuto aggiungerla comunque */

@media (min-width: 992px) {
  .sidebar-left::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  .sidebar-left::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: transparent;
  }

  .sidebar-left::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }

  .sidebar-left::-webkit-scrollbar-thumb:hover {
    background-color: rgba(
      255,
      255,
      255,
      0.5
    ); /* Più visibile al passaggio del mouse */
  }

  .sidebar-left::-webkit-scrollbar-button {
    display: none; /* Nasconde i pulsanti su e giù */
  }

  /* Stili per la Scrollbar di #trackContainer (la nascondo di default su sm/md) */
  #trackContainer::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  #trackContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: transparent;
  }

  #trackContainer::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }

  #trackContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  #trackContainer::-webkit-scrollbar-button {
    display: none;
  }
}

/* Ho aggiunto questo per mettere apposto il numero */
ol,
ul {
  padding-left: 0rem;
}

#footerPlayer {
  margin-right: 0.1rem;
  margin-left: 0.1rem;
}

.icon-block {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Wrapper dell'icona "Brani che ti piacciono" */
.icon-wrapper-fav {
  background: linear-gradient(135deg, #4b00ff, #98c9c4);
  border-radius: 4px;
}

/* Wrapper dell'icona "I tuoi episodi" */
.icon-wrapper-podcasts {
  background: #004537;
  border-radius: 4px;
}

/* Dimensione icone */
.icon-block i {
  font-size: 1.3rem;
}
