/* ===== Font Face ===== */
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "Circular", sans-serif;
}
#search-bar::placeholder {
  color: rgb(107, 107, 107) !important;
  opacity: 1 !important;
}
footer nav {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 60%,
    rgba(0, 0, 0, 0.6) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

header input:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: aliceblue;
}
#fav {
  font-size: 9px;
  padding: 9.5px 10px;
  background: linear-gradient(135deg, #4b00ff, #98c9c4);
  margin-right: 3px;
  margin-left: -1px;
}
#podcasts {
  font-size: 12px;
  padding: 8.5px 10px;
  background: #004537;
  margin-right: 3px;
  margin-left: -2px;
}
.titoli-playlist > p {
  font-size: 12px;
}
.col .dropdown button {
  background-color: black;
}
#carosello button {
  background-color: #1b1b1b;
}
.overflow-auto::-webkit-scrollbar {
  width: 10px;
}

.overflow-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-auto::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
#carosello {
  width: 40px;
  height: 40px;
}
#random-container {
  background: linear-gradient(215deg, #242424, #000000);
}
#random-container .album {
  font-size: 15px;
}
#hide-button {
  font-size: 15px;
}
a:hover {
  opacity: 80%;
}
#more {
  width: 200px !important;
  height: 300px !important;
}
#random-title {
  font-size: 2rem;
}
#random-phrase,
#random-artist {
  font-size: 1.5rem;
}
#more {
  opacity: 0.5;
  transition: opacity 0.1s ease;
}
#more:hover {
  opacity: 100;
}
#albumCard .card-body, .bg-dark {
 background-color: #0E0E0E !important;
}
@media (min-width: 992px) {
  #playlistCol {
    background-color: #212121;
  }
}
